<%= javascript_include_tag "jquery.maskedinput.min" %>

<br/>
<h2>Olá <%= @user_event.user.name %>, por favor complete com suas informações abaixo:</h2>
<h4>Essas informações são necessárias para gerar seu QR Code que irá identifica-lo no dia do evento.</h4>
<div id="dialog-confirm" title="Empty the recycle bin?" style="display:none">
  <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>These items will be permanently deleted and cannot be recovered. Are you sure?</p>
</div>
<%= semantic_form_for  @user_event_confirmation do |f| %>
	<%= f.inputs 'Dados' do %>
		
		<%= f.input :token, as: :hidden %>
		<%= f.input :name %>
		<%= f.input :company %>
		<%= f.input :function %>
		<%= f.input :address %>
		<%= f.input :number %>
		<%= f.input :complement %>
		<%= f.input :cep %>
		<%= f.input :state %>
		<%= f.input :city %>
		<%= f.input :celnumber %>
		<%= f.input :smartphone, as: :boolean %>
		<%= f.input :image_usage, as: :boolean, input_html: {checked: 'checked'} %>
		<%= f.input :sms_usage, as: :boolean, input_html: {checked: 'checked'} %>
		<%= f.input :email_usage, as: :boolean, input_html: {checked: 'checked'} %>
	<% end -%>

	<%= f.inputs 'Hábitos de Mídia' do %>
		<%= text_field_tag "user_event_confirmation_other_fake", nil, :style => "display:none", :disabled => 'disabled' %>
		<%= f.input :blank_midia_attachment, as: :hidden %>

		<%= check_box_tag "user_event_confirmation_sub_check_fake", '', false, :disabled => true, :style => "display:none" %>

		<%= f.input :le_revista, label: 'Lê revistas?', as: :radio,:collection => ["Sim", "Não"] %>
		<%= f.input :revistas, label: "Se lê, quais?", as: :check_boxes, collection: UserEventConfirmation.magazines %>
		
		<%= f.input :le_jornal, label: 'Lê jornais?', as: :radio,:collection => ["Sim", "Não"] %>
		<%= f.input :jornais, label: "Se lê, quais?", as: :check_boxes, collection: UserEventConfirmation.newspapers %>
		

		<%= f.input :ouve_radio, label: 'Ouve rádio?', as: :radio,:collection => ["Sim", "Não"] %>
		<%= f.input :radios, label: "Se ouve, o que?", as: :check_boxes, collection: UserEventConfirmation.radios %>
		
		<%= f.input :assisti_tv, label: 'Assisti TV?', as: :radio,:collection => ["Sim", "Não"] %>
		<%= f.input :frequencia_tv, label: "Se assiste, com que frequência?", as: :radio, collection: UserEventConfirmation.tv_frequencies %>
		<%= f.input :canais, label: "Que canais gosta de ver na TV?", as: :check_boxes, collection: UserEventConfirmation.channels %>
		<%= f.input :programas_preferidos, label: "Qual(is) o(s) programa(s) preferido(s)?", as: :check_boxes, collection: UserEventConfirmation.programs %>

		<%= f.input :envia_recebe_sms, label: "Envia/Recebe SMS ?", as: :radio,:collection => ["Sim", "Não"] %>
		<%= f.input :usa_internet, label: "Usa Internet ?", as: :radio,:collection => ["Sim", "Não"] %>				
		<%#= f.input :tipo_internet, label: "", as: :check_boxes, collection: UserEventConfirmation.internet %>
		
		<%= f.input :frequencia_internet, label: "Com qual frequencia usa a internet?", as: :radio, collection: UserEventConfirmation.internet_frequencies %>
		
		<%= f.input :locais_internet, label: "Locais onde acessa a internet:", as: :check_boxes, collection: UserEventConfirmation.internet_places %>
		
		<%= f.input :o_que_ve_internet, label: "O que costuma olhar na internet?", as: :check_boxes, collection: UserEventConfirmation.internet_contents %>
		
		<%= f.input :acessa_redes_sociais, label: "Acessa redes sociais?", as: :radio,:collection => ["Sim", "Não"] %>
		
		<%= f.input :quais_redes_sociais, label: "Se acessa, quais?", as: :check_boxes, collection: UserEventConfirmation.socials %>
		
		<%= f.input :visita_site_especializado, label: "Visita algum site especializado em caminhões?", as: :radio,:collection => ["Sim", "Não"] %>
		
		<%= f.input :sites_especializados, label: "Se acessa, quais?", as: :check_boxes, collection: UserEventConfirmation.sites%>
	<% end -%>

	<%= f.actions %>
<% end %>
	

<script type="text/javascript">

jQuery.fn.outerHTML = function(s) {
    return s
        ? this.before(s).remove()
        : jQuery("<p>").append(this.eq(0).clone()).html();
};

var input_ids = ['name', 'company', 'function', 'address', 'number', 'cep', 'state','city','celnumber','smartphone'];
//$('#user_event_confirmation_quais_outra').parent().after($('#user_event_confirmation_celnumber').outerHTML())

var ids_to_insert_other_input_text = [
	["user_event_confirmation_revistas_outras", "outra_revista", 'a'],
	["user_event_confirmation_radios_outros", "outra_radio", 'o'],
	["user_event_confirmation_canais_canais_fechados", "canais_fechados", 'o'],
	["user_event_confirmation_canais_outros", "outros_canais", 'o'],
//	["user_event_confirmation_programas_preferidos_outros", "outro_preferido", 'o'],
	["user_event_confirmation_o_que_ve_internet_site_de_notcias", "outros_sites_noticias", 'a'],
	["user_event_confirmation_o_que_ve_internet_outros", "outros_sites", 'o'],
	["user_event_confirmation_quais_redes_sociais_blogs", "quais_blogs", 'q'],
	["user_event_confirmation_quais_redes_sociais_outros", "outras_redes", 'o'],
	["user_event_confirmation_sites_especializados_outros", "outro_site_especializado", 'q']
]

var ids_to_insert_sub_checks = [
	["user_event_confirmation_radios_msica", 				"tipo_musica",					<%= raw UserEventConfirmation.musics.sort.reverse.as_json %>],
	["user_event_confirmation_jornais_acre", 				"jornais_acres", 				<%= raw UserEventConfirmation.acre_newspapers.sort.reverse.as_json %>],
	["user_event_confirmation_jornais_alagoas", 			"jornais_alagoass", 			<%= raw UserEventConfirmation.alagoas_newspapers.sort.reverse.as_json %>],
	["user_event_confirmation_jornais_amazonas", 			"jornais_amazonass", 			<%= raw UserEventConfirmation.amazonas_newspapers.sort.reverse.as_json %>],
	["user_event_confirmation_jornais_bahia", 				"jornais_bahias", 				<%= raw UserEventConfirmation.bahia_newspapers.sort.reverse.as_json %>],
	["user_event_confirmation_jornais_cear", 				"jornais_cears", 				<%= raw UserEventConfirmation.ceara_newspapers.sort.reverse.as_json %>],
	["user_event_confirmation_jornais_distrito_federal", 	"jornais_distrito_federals", 	<%= raw UserEventConfirmation.df_newspapers.sort.reverse.as_json %>],
	["user_event_confirmation_jornais_esprito_santo", 		"jornais_esprito_santos", 		<%= raw UserEventConfirmation.espirito_santo_newspapers.sort.reverse.as_json %>],
	["user_event_confirmation_jornais_gois", 				"jornais_goiss", 				<%= raw UserEventConfirmation.goias_newspapers.sort.reverse.as_json %>],
	["user_event_confirmation_jornais_goinia", 				"jornais_goinias", 				<%= raw UserEventConfirmation.goiania_newspapers.sort.reverse.as_json %>],
	["user_event_confirmation_jornais_maranho", 			"jornais_maranhos", 			<%= raw UserEventConfirmation.maranhao_newspapers.sort.reverse.as_json %>],
	["user_event_confirmation_jornais_mato_grosso_do_sul", 	"jornais_mato_grosso_do_suls", 	<%= raw UserEventConfirmation.mato_grosso_do_sul_newspapers.sort.reverse.as_json %>],
	["user_event_confirmation_jornais_minas_gerais", 		"jornais_minas_geraiss", 		<%= raw UserEventConfirmation.minas_gerais_newspapers.sort.reverse.as_json %>],
	["user_event_confirmation_jornais_paran", 				"jornais_parans", 				<%= raw UserEventConfirmation.parana_newspapers.sort.reverse.as_json %>],
	["user_event_confirmation_jornais_paraba", 				"jornais_parabas", 				<%= raw UserEventConfirmation.paraiba_newspapers.sort.reverse.as_json %>],
	["user_event_confirmation_jornais_par", 				"jornais_pars", 				<%= raw UserEventConfirmation.para_newspapers.sort.reverse.as_json %>],
	["user_event_confirmation_jornais_pernambuco", 			"jornais_pernambucos", 			<%= raw UserEventConfirmation.pernambuco_newspapers.sort.reverse.as_json %>],
	["user_event_confirmation_jornais_piau", 				"jornais_piaus", 				<%= raw UserEventConfirmation.piaui_newspapers.sort.reverse.as_json %>],
	["user_event_confirmation_jornais_rio_grande_do_norte", "jornais_rio_grande_do_nortes", <%= raw UserEventConfirmation.rio_grande_do_norte_newspapers.sort.reverse.as_json %>],
	["user_event_confirmation_jornais_rio_grande_do_sul", 	"jornais_rio_grande_do_suls", 	<%= raw UserEventConfirmation.rio_grande_do_sul_newspapers.sort.reverse.as_json %>],
	["user_event_confirmation_jornais_rio_de_janeiro", 		"jornais_rio_de_janeiros", 		<%= raw UserEventConfirmation.rio_de_janeiro_newspapers.sort.reverse.as_json %>],
	["user_event_confirmation_jornais_rondnia", 			"jornais_rondnias", 			<%= raw UserEventConfirmation.rondonia_newspapers.sort.reverse.as_json %>],
	["user_event_confirmation_jornais_roraima", 			"jornais_roraimas", 			<%= raw UserEventConfirmation.roraima_newspapers.sort.reverse.as_json %>],
	["user_event_confirmation_jornais_santa_catarina", 		"jornais_santa_catarinas", 		<%= raw UserEventConfirmation.santa_catarina_newspapers.sort.reverse.as_json %>],
	["user_event_confirmation_jornais_so_paulo", 			"jornais_so_paulos", 			<%= raw UserEventConfirmation.sao_paulo_newspapers.sort.reverse.as_json %>],
	["user_event_confirmation_jornais_sergipe", 			"jornais_sergipes", 			<%= raw UserEventConfirmation.sergipe_newspapers.sort.reverse.as_json %>]
]

function load_insert_sub_checks(){
	$.each(ids_to_insert_sub_checks, function(i, element_name){
		$.each(element_name[2], function(i, option){
			var new_label 			= $('<label options="options" style="margin-left:20px"></label>');
			var other_input_clone 	= $('#user_event_confirmation_sub_check_fake').clone();
			var el 				  	= $('#'+element_name[0]);
			var name 				= 'user_event_confirmation['+element_name[1]+'][]';
			var id 					= 'user_event_confirmation_'+element_name[1];

			other_input_clone.prop('name', name);
			other_input_clone.prop('id', id);
			other_input_clone.prop('disabled', '');
			other_input_clone.val(option);
			other_input_clone.show();
			
			new_label.hide();

			el.parent().after(new_label.html(other_input_clone.outerHTML() + option));
		})
		
		var id = 'user_event_confirmation_'+element_name[1];
		var el = $('#'+element_name[0]);
		el.change(function() {
			if ($(this).is(":checked")){
				$(this).parent().parent().find('label:hidden').show()
			} else {
				$(this).parent().parent().find(('label[options=options]')).hide();
			}
		});
		
		var id_to_check = "user_event_confirmation_" + element_name[1] + '_other';
		var name_to_check = "user_event_confirmation[" + element_name[1] + '_other]';
		var label = $("<label options='options' style='margin-left:20px;display:none'></label>");
		var input_text = $("<input id="+id_to_check+" name="+name_to_check+" placeholder='Outro' type='text'>");
		label.html(input_text);
		el.parent().parent().find('label:last').after(label.outerHTML());
	});
}

function load_other_inputs(){
	$.each(ids_to_insert_other_input_text, function(i, element_name){
		var other_input_clone 	= $('#user_event_confirmation_other_fake').clone();
		var el 				  	= $('#'+element_name[0]);
		var name 				= 'user_event_confirmation['+element_name[1]+']';
		var id 					= 'user_event_confirmation_'+element_name[1];
		
		other_input_clone.prop('name', name);
		other_input_clone.prop('id', id);
		other_input_clone.prop('disabled', '');

		if(element_name[2] == 'a'){
			other_input_clone.prop('placeholder', 'Outras');
		} else if(element_name[2] == 'q') {
			other_input_clone.prop('placeholder', 'Quais');
		} else {
			other_input_clone.prop('placeholder', 'Outros');
		}
		
		el.parent().after(other_input_clone.outerHTML());
		
		el.change(function() {
			show_other_input($(this).is(":checked"), $('#'+id));
		});
	});
}

function show_other_input(p_checked, p_input){
	if(p_checked){
		p_input.show();
	} else {
		p_input.hide();		
	}
}

function description_id(p_id){
	switch (p_id) {
	    case "name":
			return "Nome";
	    break;
	    case "company":
			return "Empresa";
	    break;
		case "function":
			return "Cargo";
	    break;	
		case "address":
			return "Endereço";
	    break;
		case "number":
			return "Número";
	    break;
		case "complement":
			return "Complemento";
	    break;
		case "cep":
			return "CEP";
	    break;
		case "state":
			return "Estado";
	    break;
		case "city":
			return "Cidade";
	    break;
		case "celnumber":
			return "Celular";
	    break;
		case "smartphone":
			return "É Smartphone?";
	    break;
	}
}

function validates(){
	var success = true;

	var msgs = [];

	$.each(input_ids, function(i, e){
		var element = $('#user_event_confirmation_'+e);
		if(element.val() == ''){
			if(success) msgs.push("Informações obrigatórias não podem ficar em branco: \n")
			success = false;
			msgs.push(description_id(e));
		}
	})
	
	if (success){

		var checkboxes = $('fieldset.inputs:last').find('input[type=checkbox]');
		var some_checked = false;
		$.each(checkboxes, function(i, e){
			if ($(e).is(':checked') ){
				some_checked = true
			}
		});

		var input_texts = $('fieldset.inputs:last').find('input[type=text]');
		var some_text = false;
		$.each(input_texts, function(i, e){
			if($(e).val() != ''){
				some_text = true;
			}
		})
		
		var input_radios = $('fieldset.inputs:last').find('input[type=radio]');
		var some_radio = false;
		$.each(input_radios, function(i, e){
			if ($(e).is(':checked') ){
				some_radio = true;
			}
		})

		if (!some_checked && !some_text && !some_radio){
			success = confirm('Você esqueceu de preencher sua pesquisa de Hábitos de Mídia ? \nOK para continuar \nCancelar para preencher');
			if (success){
				$('#user_event_confirmation_blank_midia_attachment').val('1');
			} else {
				$('#user_event_confirmation_blank_midia_attachment').val('0');						
			}
		}
	}
	if (success == false && msgs.length > 0) alert(msgs.join("\n"));

	return success;
}

function mask_fields(){
	$("#user_event_confirmation_number").mask("9?999999999",{placeholder:"", numericInput: true});
	$("#user_event_confirmation_cep").mask("99999-999",{placeholder:"", numericInput: true});
	$("#user_event_confirmation_celnumber").mask("(99) 99999-999?9",{placeholder:"", numericInput: true});
}

$(document).ready(function(){
	mask_fields();
	load_insert_sub_checks();
	
	$('form').submit(function() {
  		return validates();
	});
	
	load_other_inputs();
});

</script>