<div style="text-align:center">
	<img src="<%= @logo_image %>">
	<br>
	<img src="<%= @line_image %>">
	<p>Olá <%= @record.user.name %>,</p>		
	<p>Seu convite para o evento <%= @record.event.title %> foi finalizado com sucesso!</p>
	<p>Na entrada do evento, por favor mostre o QR Code em anexo ao representante Ford!</p>
	<img src="<%= @line_image %>">
</div>