<div style="text-align:center">
	<img src="<%= @logo_image %>">
	<br>
	<img src="<%= @line_image %>">
	<p>Olá <%= @record.name %>!</p>
	<p>Foi pedido uma nova senha para o seu usuário</p>
	<p>Lembrando que é possível alterar sua senha no menu Minha Conta</p>
	<p><strong><%= @generated_password %></strong></p>
	<img src="<%= @line_image %>">
</div>